
<%- include("../../views/partials/admin/header")%>
<style>
     th {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
    }
    td{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }
</style>
        

        <!-- Orders Section -->
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title card-title">Orders</h2>
                <p>Manage all your orders here</p>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Customer</th>
                                    <th>Order-Status</th>
                                    <th>Total</th>
                                    <th>Placed On</th>
                                    <th>Payment-Status</th>
                                    <th>Payment-Method</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(function(order) { %>
                                    <tr>
                                        <td>#<%= order._id %></td>
                                        <td><%= order.userId.name %></td>
                                        <td>
                                            <% if(order.status === "Pending") { %>
                                                <span class="badge rounded-pill alert-warning"><%= order.status %></span>
                                            <% } else if(order.status === "Processing") { %>
                                                <span class="badge rounded-pill bg-primary"><%= order.status %></span>
                                            <% } else if(order.status === "Shipped") { %>
                                                <span class="badge rounded-pill bg-info"><%= order.status %></span>
                                            <% } else if(order.status === "Delivered") { %>
                                                <span class="badge rounded-pill alert-success"><%= order.status %></span>
                                            <% } else if(order.status === "Canceled") { %>
                                                <span class="badge rounded-pill alert-danger"><%= order.status %></span>
                                            <% } else if(order.status === "Return Request") { %>
                                                <span class="badge rounded-pill bg-secondary"><%= order.status %></span>
                                            <% } else if(order.status === "Returned") { %>
                                                <span class="badge rounded-pill alert-secondary"><%= order.status %></span>
                                            <% } %>
                                        </td>
                                        <td>₹<%= order.finalAmount.toFixed(2) %></td>
                                        <td><%= new Date(order.createdAt).toLocaleDateString() %></td>
                                        <td><%= order.paymentStatus  || "Unpaid"%></td>
                                        <td ><%= (order.paymentMethod).toUpperCase() %></td>
                                        <td class="text-end">
                                            <a href="/admin/<%= order._id %>" class="btn btn-sm btn-outline-primary">View</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="pagination-area">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>


<%- include("../../views/partials/admin/footer")%>